/* 2 Column, Right Sidebar, Without Horizontal Menu CSS Document*/
.rightmenu {}
.rightmenu .colleft {right:20%;}
.rightmenu .col1 {width:76.8%;_width: 77.5% ;left:21%;_left: 21.3% ;}
.rightmenu .col2 {width:18%;_width: 18.2%;left:22.5%;_left: 23.3% ;}