/* 3 Column, Right Sidebar, Without Horizontal Menu CSS Document*/
.blogstyle {}
.blogstyle .colmid {right:20.5%;}
.blogstyle .colleft {right:20.5%;}
.blogstyle .col1 {width:56%;_width: 58%;left:42%;_left: 41.5%;}
.blogstyle .col2 {width:18%;_width: 18.5%;left:43.6%;	_left: 43.2%;}
.blogstyle .col3 {width:18%;_width: 18.5%;left:44.6%;	_left: 45%;}
